@page "/table"

<PageTitle>퍼즐::맞추기</PageTitle>

<div>

<MudSelect T="string"
    Style="max-width: 300px;"
    ToStringFunc="new Func<string, string>(path => Path.GetFileNameWithoutExtension(path))"
    Value="selectedTablePath"
    ValueChanged="@((f) => TableChanged(f))"
>
    @foreach (var file in tables)
    {
        <MudSelectItem Value="@file" />
    }
</MudSelect>

</div>


@if (puzzleTableServiceOption != null)
{
    <PuzzleTableComponent
        TableService="service"
        Option="puzzleTableServiceOption"/>
}

<div style="height: 100vh;width: 100px; display: block">&nbsp;</div>
