table.puzzle-table {
    border-collapse: collapse;
    border: 1px solid black;
}

table.puzzle-table div {
}

td.header div {
    width: 50px;
    height: 30px;
    display: flex;
}
td.header div span {
    margin: auto;
}

td.cell {
    border: 1px solid rgb(216, 216, 216);
}

td.cell div {
    width: 50px;
    height: 40px;
    display: flex;
}

td.cell div span {
    margin: auto;
}

td.cell button {
    width: 100%;
    height: 100%;
}

td.cell button.target-add {

}

td.cell button.target-remove {
    background-color: seagreen;
    color: white;
}

table.suggestion-table {
    border-collapse: collapse;
    border: 1px solid black;
}

table.suggestion-table td {
    padding: 2px 5px;
    border: 1px solid rgb(216, 216, 216);
}